TETRAFORCE_GUEST_STATE_SECRET=
TETRAFORCE_GUEST_ALLOCATION_RULES=
TETRAFORCE_SUPPORT_EMAIL=support@tetraforce.example
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
